- var pageTitl = "Tree";
doctype html
html(lang="ar")
  head
    include includes/head.pug
  body 
    include includes/Nav.pug
    .tree-page 
      .container 
        .tree-box 
          ul.list-unstyled.first-tree 
            li  
              .card 
                .image 
                  img.w-100(src="./assets/image/Ellipse7.png", alt="")
                h5.title-card محمد بن عمر
                .date 
                  span.brthyear 1975
                  //-span.deadyear 
              ul.list-unstyled.second-tree
                li 
                  .card 
                    .image 
                      img.w-100(src="./assets/image/women2.png", alt="")
                    h5.title-card امل  مصطفى
                    .date 
                      span.brthyear 1980
                      //-span.deadyear 
                  ul.list-unstyled.third-tree
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date 
                            span.brthyear 2013
                            //-span.deadyear 
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                    li 
                      .card.child 
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date.dead 
                            span.brthyear 2013
                            span.deadyear 2020
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                
                //li 
                  .card 
                    .image 
                      img.w-100(src="./assets/image/zxazzzz.png", alt="")
                    h5.title-card سعاد  احمد
                    .date 
                      span.brthyear 1982
                li 
                  .card 
                    .image 
                      img.w-100(src="./assets/image/axv.png", alt="")
                    h5.title-card هناء ياسر
                    .date 
                      span.brthyear 1985
                      //-span.deadyear 
                  ul.list-unstyled.third-tree
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date 
                            span.brthyear 2013
                            //-span.deadyear 
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                    li 
                      .card.child 
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date.dead 
                            span.brthyear 2013
                            span.deadyear 2020
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                    
                //-li 
                  .card 
                    .image 
                      img.w-100(src="./assets/image/women3.png", alt="")
                    h5.title-card فاطمه عبدالله
                    .date 
                      span.brthyear 1994
                      //-span.deadyear 
                  ul.list-unstyled.third-tree
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date 
                            span.brthyear 2013
                            //-span.deadyear 
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                    li 
                      .card.child 
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date.dead 
                            span.brthyear 2013
                            span.deadyear 2020
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                

                li 
                  .card 
                    .image 
                      img.w-100(src="./assets/image/women.png", alt="")
                    h5.title-card احلام على
                    .date.dead 
                      span.brthyear 1979
                      span.deadyear 2018
                  ul.list-unstyled.third-tree
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/girl.png", alt="")
                        .card-bodys
                          h5.title-card امل  
                          .gender انثى
                          .date 
                            span.brthyear 2013
                            //-span.deadyear 
                    li 
                      .card.child  
                        .image 
                          img.w-100(src="./assets/image/boy.png", alt="")
                        .card-bodys  
                          h5.title-card محمود  
                          .gender ذكر
                          .date 
                            span.brthyear 2014
                            //-span.deadyear     
                      
                    

    include includes/model.pug
    include includes/footer.pug
    
    //- script
    include includes/script.pug