footer.footer
  .container
    .d-flex.justify-content-between
      p  جميع الحقوق محفوظة 
        | &copy; 2021 
        i.fa.fa-value(aria-hidden='true') &nbsp;
      a(href='Contact.html') تواصل معنا