//- jquery
script(src="./assets/js/jquery-3.6.0.min.js") 
//- Popper
script(src="./assets/js/popper.min.js") 
//- Bootstrap
script(src="./assets/js/bootstrap.min.js") 
//- Jquery UI
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js") 
//- My Script
script(src="./assets/js/main.js") 